<a href="https://colab.research.google.com/github/Samuel442/challenge-telecomX/blob/main/challenge_telecomX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìû Telecom X - An√°lise de Evas√£o de Clientes

Voc√™ foi contratado como assistente de an√°lise de dados na **Telecom X** e far√° parte do projeto **"Churn de Clientes"**.  
A empresa enfrenta um alto √≠ndice de cancelamentos e precisa entender os fatores que levam √† perda de clientes.

Seu desafio ser√° **coletar, tratar e analisar os dados**, utilizando **Python e suas principais bibliotecas** para extrair insights valiosos.

A partir da sua an√°lise, os demais colegas da equipe de **Data Science** poder√£o avan√ßar para **modelos preditivos** e desenvolver **estrat√©gias para reduzir a evas√£o de clientes**.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Gera o link
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/refs/heads/main/TelecomX_Data.json'

In [3]:
# Carrega o Json como lista de dicion√°rios
df_telecon = pd.read_json(url)

df_telecon.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [4]:
df_telecon.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

In [5]:
df_telecon.iloc[0]

customerID                                           0002-ORFBO
Churn                                                        No
customer      {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
phone            {'PhoneService': 'Yes', 'MultipleLines': 'No'}
internet      {'InternetService': 'DSL', 'OnlineSecurity': '...
account       {'Contract': 'One year', 'PaperlessBilling': '...
Name: 0, dtype: object

In [6]:
# normalizando o json
import pandas as pd
from pandas import json_normalize

# Normaliza cada coluna que cont√©m dict
customer_norm  = json_normalize(df_telecon['customer'])
phone_norm     = json_normalize(df_telecon['phone'])
internet_norm  = json_normalize(df_telecon['internet'])
account_norm   = json_normalize(df_telecon['account'])

df_telecon_normalizado = pd.concat(
    [
        df_telecon[['customerID', 'Churn']],
        customer_norm,
        phone_norm,
        internet_norm,
        account_norm
    ],
    axis=1
)

df_telecon_normalizado.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [7]:
df_telecon_normalizado.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

## Etapa do EDA

In [8]:
# n√∫mero de linhas e colunas ou seja clientes e vari√°veris a considerar
df_telecon_normalizado.shape

(7267, 21)

In [10]:
# tipo de dados
df_telecon_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [11]:
# Colunas
df_telecon_normalizado.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [13]:
# separando por tipo
df_telecon_normalizado.select_dtypes(include=['int64', 'float64']).columns

Index(['customerID', 'Churn', 'gender', 'Partner', 'Dependents',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'Charges.Total'],
      dtype='object')

In [14]:
df_telecon_normalizado.select_dtypes(include=['object']).columns

Index(['customerID', 'Churn', 'gender', 'Partner', 'Dependents',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'Charges.Total'],
      dtype='object')

In [16]:
# valores ausentes
df_telecon_normalizado.isna().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [21]:
# an√°lise de churn
df_telecon_normalizado['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [22]:
# an√°lise do tipo de contrato
df_telecon_normalizado['Contract'].value_counts()

Contract
Month-to-month    4005
Two year          1743
One year          1519
Name: count, dtype: int64

In [24]:
# percentual de churn por tipo de contrato
pd.crosstab(
    df_telecon_normalizado['Contract'],
    df_telecon_normalizado['Churn'],
    normalize='index'
)

Churn                           No       Yes
Contract
Month-to-month  0.032459  0.554307  0.413233
One year        0.030283  0.860434  0.109282
Two year        0.027539  0.944923  0.027539

In [27]:
# estat√≠sticas gerais
df_telecon_normalizado['Charges.Monthly'].describe()

count    7267.000000
mean       64.720098
std        30.129572
min        18.250000
25%        35.425000
50%        70.300000
75%        89.875000
max       118.750000
Name: Charges.Monthly, dtype: float64

In [28]:
df_telecon_normalizado.groupby('Churn')['Charges.Monthly'].mean()

Churn
       63.412277
No     61.265124
Yes    74.441332
Name: Charges.Monthly, dtype: float64

In [30]:
df_telecon_normalizado.groupby(['Contract', 'Churn'])['Charges.Monthly'].mean()

Contract        Churn
Month-to-month           64.738077
                No       61.462635
                Yes      73.019396
One year                 71.148913
                No       62.508148
                Yes      85.050904
Two year                 52.407292
                No       60.012477
                Yes      86.777083
Name: Charges.Monthly, dtype: float64

In [29]:
# percentual de
pd.crosstab(df_telecon_normalizado['InternetService'],
            df_telecon_normalizado['Churn'],
            normalize='index')

Churn                            No       Yes
InternetService
DSL              0.026929  0.788585  0.184486
Fiber optic      0.031895  0.562539  0.405566
No               0.034788  0.893738  0.071474

## Verifica√ß√£o de inconsist√™ncias nos dados

In [31]:
# verifica√ß√£o de elementos distintos
df_telecon_normalizado['Charges.Total'].unique()[:10]

array(['593.3', '542.4', '280.85', '1237.85', '267.4', '571.45',
       '7904.25', '5377.8', '340.35', '5957.9'], dtype=object)

In [32]:
# verifica valores vazios
df_telecon_normalizado['Charges.Total'].isna().sum()

np.int64(0)

In [34]:
# verifica√ß√£o de valores vazios
(df_telecon_normalizado['Charges.Total'].str.strip() == '').sum()

np.int64(11)

In [37]:
# converter vazio para NA pra converter em num√©rico depois
df_telecon_normalizado['Charges.Total'] = (
    df_telecon_normalizado['Charges.Total']
    .replace(r'^\s*$', pd.NA, regex=True)
)

In [38]:
# conta os NA
df_telecon_normalizado['Charges.Total'].isna().sum()

np.int64(11)

In [42]:
# converte em num√©rico
df_telecon_normalizado['Charges.Total'] = pd.to_numeric(
    df_telecon_normalizado['Charges.Total'],
    errors='coerce'
)

In [44]:
df_telecon_normalizado['Charges.Total'].isna().sum()

dtype('float64')

In [46]:
df_telecon_normalizado['Charges.Total'].isna().sum()

np.int64(11)